*
{
	padding:0;
	margin:0;
}
.nav-bar
{
	background:lightgrey;
	text-align:center;
}
.nav-bar ul
{
	display:inline-flex;
	list-style:none;
	font-size:18px;
	font-family:forte;
}
.nav-bar ul li
{
	width:160px;
	margin:15px;
}
.nav-bar ul li a
{
	text-decoration:none;
	color:black;
}
.ashraf
{
	background:cyan;
	padding:30px;
	font-size:40px;
	font-family:forte;
}
#nav-bar
{
	text-align:center;
	font-family:times new roman;
	font-size:18px;
}
#nav-bar ul
{
	display:inline-flex;
	list-style:none;
	font-size:18px;
	font-family:times new roman;
}
#nav-bar ul li 
{
	width:50px;
	margin:15px;
	margin-top:120px;
}
#nav-bar ul li a
{
	text-decoration:none;
	color:black;
}
#bottom 
{
	background:lightpink;
	margin-top:100px;
}
#bottom ul li
{
	width:50px;
	margin-top:80px;
	display:inline-flex;
	margin-left:150px;
	font-size:18px;
}
#bottom ul li a
{
	text-decoration:none;
	color:black;
	font-size:18px;
	font-family:forte;
}
#cream
{
	background:tomato;
	margin-top:10px;
}